.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;

}

.dialogsItems {
    font-family: "Algerian";

    padding: 10px;

}

.dialogsItems .active {
    color: gold
}
/*.dialog:visited {*/
/*    color: #94efdc*/
/*}*/
.dialog {

}

.messages {
    padding: 10px;

}

.message {

}