.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;

}

.dialogsItems {
    font-family: "Algerian";
    padding: 10px;

}


.messages {
    padding: 10px;

}

.left {
display: flex;
}
.right {
    display: flex;
    justify-content: flex-end;
}